<ons-page id="blackpinkticket">
    <ons-carousel class="carousel" swipeable auto-scroll id="carousel"">
        <ons-carousel-item>
                <img src="assets/img/BTS/b3.png">
            </div>
        </ons-carousel-item>
        <ons-carousel-item>
                <img src="assets/img/BTS/b2.png">
            </div>
        </ons-carousel-item>
        <ons-carousel-item>
                <img src="assets/img/BTS/b1.png">
            </div>
        </ons-carousel-item>
    </ons-carousel>
    
    <!-- <ons-carousel class="area-imgDetail" swipeable auto-scroll id="carousel"">
        <ons-carousel-item>
                <img src="assets/img/e1.png" class="imgDetail" >
        </ons-carousel-item>
        <ons-carousel-item>
                <img src="assets/img/e2.png" class="imgDetail" >
        </ons-carousel-item>
        <ons-carousel-item>
                <img src="assets/img/e3.png" class="imgDetail">
        </ons-carousel-item>
    </ons-carousel> -->

    <!-- <div class="area-imgDetail">
        <img src="assets/img/e1.png" class="imgDetail" alt="" srcset="">
    </div> -->
   
    <div class="movie_info">
        <div class="movie_synopsis Prompt"><h1>BTS-Memories of 2014</h1>
            <ons-row class="movie_general_info">

                <ons-col class="stars">
                    <ons-icon style="color: #EC1D8F" icon="fa-star"></ons-icon>
                    <ons-icon style="color: #EC1D8F" icon="fa-star"></ons-icon>
                    <ons-icon style="color: #EC1D8F" icon="fa-star"></ons-icon>
                    <ons-icon style="color: #EC1D8F" icon="fa-star"></ons-icon>
                    <ons-icon style="color: #EC1D8F" icon="fa-star"></ons-icon>
                </ons-col>
                <ons-col>BigHit</ons-col>
            </ons-row>

            <div class="movie_cast">
                1,200฿ THB
            </div>

            <div class="detail_product">
            BTS MEMORIES OF 2014 DVD :3Disc+100p Photobook+Poster+GiftPhoto bangtan boys bts
            </div>
            
        </div>
    

        <div class="area-btn">
            <ons-button type="button" id="btnPlayFav" class="cart-btn btn-lg btn-block">ADD TO CART</ons-button>
            <div id="showVideoFav"></div>
        </div>

        <div class="area-btn">
            <ons-button type="button" id="btnPlayFav" class="buy-btn btn-lg btn-block">BUY WITH <i class="fa fa-google fa-fw"></i> PAY</ons-button>
            <div id="showVideoFav"></div>
        </div>

        <div class="movie_list">
            <div class="detail_product">You might also Like</div>
            <ons-carousel auto-refresh swipeable overscrollable item-width="110px">
                <ons-carousel-item modifier="nodivider">
                    <img src="assets/img/e12.png">
                </ons-carousel-item>
                <ons-carousel-item modifier="nodivider">
                    <img src="assets/img/e13.png">
                </ons-carousel-item>
                <ons-carousel-item modifier="nodivider">
                    <img src="assets/img/e14.png">
                </ons-carousel-item>
                <ons-carousel-item modifier="nodivider">
                    <img src="assets/img/e6.png">
                </ons-carousel-item>
                <ons-carousel-item modifier="nodivider">
                    <img src="assets/img/e7.png">
                </ons-carousel-item>
            </ons-carousel>
        </div>

    </div>

</ons-page>