<ons-page id="toystory">
    <ons-carousel class="carousel" swipeable auto-scroll id="carousel"">
        <ons-carousel-item>
                <img src="assets/img/EXO/e1.png">
            </div>
        </ons-carousel-item>
        <ons-carousel-item>
                <img src="assets/img/EXO/e2.png">
            </div>
        </ons-carousel-item>
        <ons-carousel-item>
                <img src="assets/img/EXO/e3.png">
            </div>
        </ons-carousel-item>
    </ons-carousel>
    
    <!-- <ons-carousel class="area-imgDetail" swipeable auto-scroll id="carousel"">
        <ons-carousel-item>
                <img src="assets/img/e1.png" class="imgDetail" >
        </ons-carousel-item>
        <ons-carousel-item>
                <img src="assets/img/e2.png" class="imgDetail" >
        </ons-carousel-item>
        <ons-carousel-item>
                <img src="assets/img/e3.png" class="imgDetail">
        </ons-carousel-item>
    </ons-carousel> -->

    <!-- <div class="area-imgDetail">
        <img src="assets/img/e1.png" class="imgDetail" alt="" srcset="">
    </div> -->
   
    <div class="movie_info">
        <div class="movie_synopsis Prompt"><h1>EXO-Official Light Stick</h1>
            <ons-row class="movie_general_info">

                <ons-col class="stars">
                    <ons-icon style="color: #EC1D8F" icon="fa-star"></ons-icon>
                    <ons-icon style="color: #EC1D8F" icon="fa-star"></ons-icon>
                    <ons-icon style="color: #EC1D8F" icon="fa-star"></ons-icon>
                    <ons-icon style="color: #EC1D8F" icon="fa-star"></ons-icon>
                    <ons-icon style="color: #EC1D8F" icon="fa-star"></ons-icon>
                </ons-col>

                <ons-col>SM Entertainment</ons-col>
            </ons-row>

            <div class="movie_cast">
                1,000฿ THB
            </div>

            <div class="detail_product">
            MiKR EXO Official Light Stick, Version 3.0 KPOP EXO Stick Light Concert Lamp Fan Product with A Keychain 
            - Connect Phone Via Bluetooth
            </div>
            
        </div>
    

        <div class="area-btn">
            <ons-button type="button" id="btnPlayFav" class="cart-btn btn-lg btn-block">ADD TO CART</ons-button>
            <div id="showVideoFav"></div>
        </div>

        <div class="area-btn">
            <ons-button type="button" id="btnPlayFav" class="buy-btn btn-lg btn-block">BUY WITH <i class="fa fa-google fa-fw"></i> PAY</ons-button>
            <div id="showVideoFav"></div>
        </div>

        <div class="movie_list">
            <div class="detail_product">You might also Like</div>
            <ons-carousel auto-refresh swipeable overscrollable item-width="110px">
                <ons-carousel-item modifier="nodivider">
                    <img src="assets/img/e12.png">
                </ons-carousel-item>
                <ons-carousel-item modifier="nodivider">
                    <img src="assets/img/e13.png">
                </ons-carousel-item>
                <ons-carousel-item modifier="nodivider">
                    <img src="assets/img/e14.png">
                </ons-carousel-item>
                <ons-carousel-item modifier="nodivider">
                    <img src="assets/img/e6.png">
                </ons-carousel-item>
                <ons-carousel-item modifier="nodivider">
                    <img src="assets/img/e7.png">
                </ons-carousel-item>
            </ons-carousel>
        </div>

    </div>

</ons-page>